/**
 * Company Cards
 */
.card-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.co-card {
  box-shadow: rgba(220, 220, 220, 0.8) 0px 2px 4px;
  border: 1px solid $grey-color-light;
  background-color: $white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-bottom: 1.25rem;
  transition: all 0.3s ease 0s;
  text-align: center;

  &:hover {
    transform: translateY(-4px);
    box-shadow: rgba(220, 220, 220, 0.5) 0px 10px 20px;
  }

  .co-img img {
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
  }

  .co-logo {
    max-width: 3rem;
    margin: -1.5rem auto;

    img {
      border-radius: 3rem;
      border-image: initial;
      border: 3px solid $white;
      box-shadow: rgba(220, 220, 220, 0.8) 0px 1px 2px;
    }
  }

  .content {
    padding: 1rem;
    flex-grow: 1;
  }

  h2 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 4px;
    font-weight: bold;
  }
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: $grey-color;
    margin-bottom: 8px;
  }

  .co-contacts {
    background-color: $grey-color-lighter;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .social-media-list {
      display: flex;
      flex-direction: row;
      margin: 0;
      align-items: center;

      li .svg-icon {
        transition: fill 0.15s ease 0s;
      }

      li {
        width: 1.75rem;
        padding: 0;

        &.fb:hover .svg-icon{fill: #3b5999;}
        &.tw:hover .svg-icon{fill: #55acee;}
        &.ig:hover .svg-icon{fill: #e4405f;}
        &.li:hover .svg-icon{fill: #0077B5;}
      }
    }

  }
}

// > 800px
@include media-query-min($on-laptop) {
  .co-card {
    flex-basis: calc(33% - 1rem);
    margin-right: 0.5rem;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
